.direnv/
dist-newstyle/
result
result-*
*.agdai
MAlonzo/
backend/futhark/kernels.c
backend/futhark/kernels.h
backend/futhark/kernels.json
backend/futhark/kernels
backend/futhark/kernels-opencl
backend/futhark/kernels-opencl.c
backend/futhark/bench.c
backend/futhark/bench.json
backend/futhark/bench
*.checkpoint
*.tmp
/data/
/run/
